mixin table()
    -
        //- currency table
        var data = [
            {
                product: {
                    icon: "btc.svg",
                    name: "Bitcoin",
                    abbr: "btc"
                },
                price: {
                    amount: "5,120",
                    currency: "USD"
                },
                change: {
                    type: "up",
                    percentage: "3.43%"
                },
                chart: "",
                actions: [
                    "BUY", "SELL"
                ]
            },

            {
                product: {
                    icon: "bch.svg",
                    name: "Bitcoin Cash",
                    abbr: "bhc"
                },
                price: {
                    amount: '289.43',
                    currency: "USD"
                },
                change: {
                    type: "down",
                    percentage: "1.25%"
                },
                chart: "",
                actions: [
                    "BUY", "SELL"
                ]
            },

            {
                product: {
                    icon: "eth.svg",
                    name: "Ethereum",
                    abbr: "ETH"
                },
                price: {
                    amount: '166.29',
                    currency: "USD"
                },
                change: {
                    type: "",
                    percentage: "0.00%"
                },
                chart: "",
                actions: [
                    "BUY", "SELL"
                ]
            },

            {
                product: {
                    icon: "btg.svg",
                    name: "Bitcoin Gold",
                    abbr: "BTG"
                },
                price: {
                    amount: '16.85',
                    currency: "USD"
                },
                change: {
                    type: "up",
                    percentage: "1.40%"
                },
                chart: "",
                actions: [
                    "BUY", "SELL"
                ]
            },

            {
                product: {
                    icon: "eos.svg",
                    name: "EOS",
                    abbr: "EOS"
                },
                price: {
                    amount: '4.83',
                    currency: "USD"
                },
                change: {
                    type: "down",
                    percentage: "2.42%"
                },
                chart: "",
                actions: [
                    "BUY", "SELL"
                ]
            }
        ]

    .table-shadow
        table.table
            thead
                tr 
                    th.product PRODUCT 
                    th.price.d-none.d-md-table-cell PRICE
                    th.change.d-none.d-md-table-cell CHANGE
                    th.chart.d-none.d-lg-table-cell CHART
                    th.actions ACTIONS 

            tbody 
                each datum in data 
                    tr 
                        td.product
                            .d-flex.td
                                img.mr-2.mr-md-4(src= 'images/currencies/' + datum.product.icon, alt="")
                                .product-name 
                                    .d-flex
                                        p.name.font-size-sm-16.font-size-md-18= datum.product.name
                                        p.abbr= datum.product.abbr
                                    p.price.d-block.d-md-none.font-size-sm-16
                                        span.amount= datum.price.amount 
                                        span.currency= datum.price.currency
                        td.price.d-none.d-md-table-cell
                            .d-flex.justify-content-end.td.font-weight-sm-600
                                span.amount= datum.price.amount 
                                span.currency= datum.price.currency
                        td.change.d-none.d-md-table-cell(class= datum.change.type)
                            .d-flex.td
                                if datum.change.type == 'up'
                                    i.material-icons arrow_upward
                                else 
                                    i.material-icons arrow_downward 

                                span= datum.change.percentage

                        td.chart.d-none.d-lg-table-cell
                        td.actions
                            .d-flex.w-100.td
                                each button,index in datum.actions 
                                    button.btn.button.button-32.font-size-sm-12.font-weight-sm-600.px-3(class= datum.actions.length > 1 && index == 0 ? "mr-2 mr-md-3" : "")= button