extends ../layout/index 

//- define head variables
block variables 
    - 
        //- for head meta data
        var head = {
            title: "PayPlux | Buy and Sell Bitcoin, Perfect Money in Ghana",
            keywords: "payplux, sell bitcoin in ghana, buy bitcoin in ghana, perfect money",
            description: "Buy, Sell & Exchange your digital currency. Get bitcoin, ethereum, litecoin & non cryptos like Ripple, Perfect Money right here in Ghana."
        }

        //- active navigation item
        var active_nav = "Home"

        //- here we are bubbles
        var bubble_lists = [
            {
                image: "ux",
                title: "Great user experience",
                desc: "Use Payplux with ease"
            },
            {
                image: "support",
                title: "Heroic Support",
                desc: "Have a problem? Give us a call"
            },
            {
                image: "24-7",
                title: "24/7 Automated Service",
                desc: "Transact at any time"
            }
        ]

        //- experience
        var experience_bubble_lists = [
            {
                image: "prepaid-wallet",
                title: "Prepaid Wallet",
                desc: "Load your wallet ahead of time and get to place your buy order at any time, any day!"
            },
            {
                image: "bulk-buy",
                title: "Bulk Buy",
                desc: "Buy in bulk at rates made just  for you. Continue to serve your customers with ease."
            },
            {
                image: "exchange-services",
                title: "Exchange Services",
                desc: "Change from one crypto to another easily. Bitcoin to Ethereum or vice versa & many more!"
            },
            {
                image: "buy-pay",
                title: "Buy & Pay",
                desc: "Buy your crypto directly just by entering payment details. It’s fast and convenient."
            },
            {
                image: "mobile-apps",
                title: "Mobile Apps",
                desc: "Perform your buy, sell & exchange transactions on the go with our Android and iOS apps!"
            },
            {
                image: "ussd-apps",
                title: "USSD Apps",
                desc: "Buy, sell, exchange, check wallet balance, track orders, directly with a USSD Code!"
            }
        ]


block body
    #home.body
        //- introduction section
        section.introduction.position-relative

            //- container for content
            .container.particle-container
                .particles 

            .container

                .row          
                    //- content
                    .col-12.col-md-6.content.intro-info.d-flex.align-items-center.pl-md-0.pl-lg-3
                        .v-align
                            +intro({
                                header: "Buy, sell & exchange cryptocurrencies",
                                desc: true,
                                button: "Get Started"
                            })


                    //- image
                    .col-12.col-md-6.image.pr-md-0.pr-lg-3.d-none.d-md-flex.align-items-center
                        img.img-fluid.d-md-block.mr-0.ml-auto.lazy-load-img(src="images/img/ic-masked-mark.png", data-src="images/img/ic-masked-mark@3x.png", alt="") 
        
        //- payplux is here for you
        section.here-for-you.position-relative
                p.header.font-size-sm-32.font-weight-sm-500.text-center.m-0 Always here for you!

                //- list of information
                .container
                    .bubble-lists.d-flex.flex-column.flex-lg-row.justify-content-center.align-items-center
                        //- looping through buuble lists
                        each bubble in bubble_lists
                            .bubble-list.d-flex.margin-left-sm-28.margin-right-sm-28
                                .bubble
                                    img(src="images/icons/" + bubble.image + ".png", alt="")
                                .content.text-left.d-flex.align-items-center
                                    .v-align 
                                        p.title.text-nowrap= bubble.title
                                        p.desc.steel-text.text-nowrap= bubble.desc

                .table-container.w-100
                    .container.position-relative.px-2.px-md-3
                        +table()

        //- experience

        section.experience.swooshed.lg
            .container
                .heading.mx-md-auto.w-md-60.w-lg-100
                    p.header.font-size-sm-30.font-size-lg-34.font-weight-sm-500.text-left.text-md-center.margin-bottom-sm-48.margin-bottom-md-16 The 
                        span.clear-blue-text best 
                        | experience always. You mean the most to us!

                    p.text-left.text-md-center.steel-text.m-0.font-size-sm-20.line-height-normal Payplux has all these features for your comfort

                .row 
                    .col-12.col-lg-5.d-flex.align-items-center
                        //- list of information
                        .bubble-lists.w-100
                            //- looping through buuble lists
                            each bubble,index in experience_bubble_lists
                                .bubble-list.lg.d-flex.flex-column.flex-lg-row.margin-bottom-lg-8.w-100(class= index == 0 ? "active" : "", data-image= bubble.image )
                                    .bubble.m-0.margin-right-lg-32.margin-bottom-sm-24
                                        img(src="images/svgs/" + bubble.image + ".svg", alt="")
                                    .content.text-center.text-lg-left.d-flex.align-items-center
                                        .v-align 
                                            p.title= bubble.title 
                                            p.desc.steel-text= bubble.desc

                                    img.d-block.img-fluid.d-lg-none.mt-4.mr-n1.mr-md-n2.ml-auto.lazy-load-md-img(src="images/img/" + bubble.image + ".jpg", data-src="images/img/" + bubble.image + "@3x.jpg", alt="")

                    .col-lg-7.d-none.d-lg-flex.align-items-center
                        img.experience-image.lazy-load-img(src="images/img/prepaid-wallet.jpg" data-src="images/img/prepaid-wallet@3x.jpg", alt="")

        //- good news
        section.good-news
            .lg.swooshed
            .container 
                .row.good-news-row.d-flex.flex-column-reserve.flex-md-row-reverse.flex-lg-row.justify-content-between

                    .col-12.col-md-6.d-flex.align-items-center.pr-xl-0
                        img.img-fluid.ml-0.mr-auto.margin-top-sm-40.margin-top-md-0.lazy-load-img(src="images/img/img-referral.jpg", data-src="images/img/img-referral@3x.jpg" ,alt="")

                    .col-12.col-md-6.col-xl-5.d-flex.align-items-center
                        .v-align
                            .header-container
                                p.header.font-size-sm-30.font-size-lg-34.font-weight-sm-500.margin-bottom-sm-32 Spread the good news 
                                    | and 
                                    span.clear-blue-text make money 
                                    | doing so!
                            p.description.steel-text.font-size-sm-18.font-size-md-20.margin-bottom-sm-32 
                                | Our Affiliate and Referral program here at PayPlux is created to reward you for being a great friend who shows your friends the great things you discover! Who doesn’t want to be a good friend and get rewarded for it? 
                                a.clear-blue-text(href) Check it out here.
                            
                            a.btn.button.button-sm-64.w-100.w-lg-60(href) I'm a good friend!

                .row.perform-row.flex-md-row-reverse.flex-lg-row.justify-content-between

                    .col-12.col-md-6.col-xl-5.d-flex.align-items-center 
                        .v-align 
                            .header-container
                                p.header.font-size-sm-30.font-size-lg-34.font-weight-sm-500.margin-bottom-sm-32 Perform your first 
                                    | transaction on 
                                    span.clear-blue-text PayPlux 
                                    | easily 
                                
                            p.description.steel-text.font-size-sm-18.font-size-md-20.margin-bottom-sm-32 
                                | Maybe some very little thing to go here that makes sense a bit more than what I have typed.

                            .steps 
                                each step, index in ["Sign up", "Login", "Place order", "Receive order"]
                                    .d-flex.margin-bottom-sm-16 
                                        span.number= index + 1
                                        span.step= step
                            
                            a.btn.button.button-sm-64.w-100.w-lg-60(href) Place first order!

                    .col-12.col-md-6.d-flex.align-items-center
                        img.img-fluid.mr-0.ml-auto.margin-top-sm-40.margin-top-md-0.lazy-load-img(src="images/img/img-first-order.jpg", data-src="images/img/img-first-order@3x.jpg",alt="")